/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', Helvetica, 'Segoe UI', Roboto, 'Open Sans', sans-serif;
}

a,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea {
  border: none;
  background: none;
  font-family: inherit;
}

/* Elements */
body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(12, 1fr);
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-2 {
  border-radius: 1rem;
}

.bsw-small {
  box-shadow: 0 2px 4px #222;
}

/* Colors */
.bg-primary {
  background-color: #1f2937;
}

.bg-light {
  background-color: #fff;
}

.bg-gray {
  background-color: #e5e7eb;
}

.text-dark {
  color: #1f2937;
}

.text-light {
  color: #f9faf8;
}

.text-light-90 {
  color: #e5e7eb;
}

.bgr-overlay {
  position: relative;
  background: linear-gradient(to top, #000000aa 4rem, transparent);
}

/* Buttons */
.btn {
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary {
  background-color: #3882f6;
  color: #f9faf8;
}

.btn-primary:hover {
  background-color: #4489f8;
}

.btn:active {
  background-color: #2f78ec;
}

.btn:focus {
  outline: 2px solid white;
}

/* Spacing */
.fw {
  grid-column: 1 / span 12;
}

.w25 {
  width: 25%;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.grow {
  flex-grow: 1;
}

.gap-2 {
  gap: 2rem;
}

.p-1 {
  padding: 1rem;
}

.pl-3 {
  padding-left: 3rem;
}

.p-5 {
  padding: 5rem;
}

.ph-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.pl-5 {
  padding-left: 5rem;
}

.pr-5 {
  padding-right: 5rem;
}

.mv-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

/* Positioning */
.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.hc {
  margin-left: auto;
  margin-right: auto;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-jsb {
  justify-content: space-between;
}

.flex-jc {
  justify-content: center;
}

.flex-aic {
  align-items: center;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

/* Typography */
h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 18px;
}
